@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}

body{
  background: linear-gradient(to right, #021b79, #0575E6);
  
}

 h1{
    display: flex;
    justify-content: center;
    padding: 60px;
    margin-top: 80px;
    font-size: 2.5rem;
    color:white;
    letter-spacing: 15px;
}
.botoes{
    display: flex;
    justify-content:center;
    align-items: center;
    

}
.botoes button {
   margin: 25px;
   padding: 7px;
   border: none;
   /*background-color:#1982c4;*/
   background: #fff;
   border-radius: 10px;
   color: black;
   font-size: 22px;
   font-weight: 500;
   text-transform:capitalize;
   cursor: pointer;
}
.container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: -80px;
    width: 500px;
    height: 300px;
  }
.relogio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

  .container h2 {
    color: white;
    font-weight: 300;
    font-size:8rem;
  }

  #progress-bar {
    width: 500px;    
    height: 20px;
    background-color:white;
    border-radius: 10px;
    margin-top: -140px;
    margin: 0 auto;
    
  }

  #progress-bar-fill {
    height: 100%;
    background-color:#00b4d8;
    border-radius: 10px;
    
  }
  
  .botoes_pomodoro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
  }
  .botoes_pomodoro button{
    margin: 25px;
    padding: 10px;
    border: none;
    background: #fff;
    border-radius: 10px;
    color: black;
    font-size: 22px;
    font-weight: 500;
    text-transform:capitalize;
    cursor: pointer;
  }

  @media (min-width:375px) and (max-width:475px){
    
     h1{
      text-align: center;
      padding: 15px;
     }
     .container{
      width: 0;
      margin-bottom: -155px;
     }
     .container h2{
      font-size: 5rem;
    }
  
    #progress-bar {
      width: 340px;
    }
    .botoes_pomodoro{
      margin: 5px;
    }
    .botoes{
      margin: -20px;
    }
    
  }

/*@media (max-width:500px){
    h1{
      text-align: center;
      padding:30px;
    }
    .container{
      margin-bottom:-160px;
    }
    .container h2{
      font-size: 5rem;
    }
    #progress-bar {
      width: 400px;
    }
    .botoes{
      margin: 40px;
    }
}
  

  